<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Exposant</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


</head>
<body>
<nav class="p-3">
    <nav class="container">
        <div class="card">
            <form method="post" th:action="@{/exposant/saveExposant(page=${page},keyword=${keyword})}">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title mt-3 text-center">
                            Editer un exposant :
                        </h4>
                        <a th:href="@{/user/listExposants}" class="btn btn-outline-primary ml-auto">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Liste des exposants
                        </a>
                    </div>

                    <input id="id" class="form-control" type="hidden" name="exposantId" th:value="${exposant.exposantId}">

                    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <i>ID :</i>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input class="form-control" type="text" value="" th:value="${exposant.exposantId}" readonly>
                        </div>
                    </div>

                    <i>Nom : (*) Ce champ ne doit pas être vide</i> <span class="text-danger" th:errors="${exposant.nom}"></span>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                        </div>
                        <input id="nom" class="form-control" type="text" name="nom" th:value="${exposant.nom}">
                    </div>

                    <i>Pays :</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-map"></i> </span>
                        </div>
                        <input id="pays" class="form-control" type="text" name="pays" th:value="${exposant.pays}">
                        <span class="text-danger" th:errors="${exposant.pays}"></span>
                    </div>

                    <i>E-mail :</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
                        </div>
                        <input id="mail" class="form-control" type="email" name="mail" th:value="${exposant.mail}">
                        <span class="text-danger" th:errors="${exposant.mail}"></span>
                    </div>

                    <i>Telephone :</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <input id="telephone"  class="form-control" type="number" name="telephone" th:value="${exposant.telephone}">
                        <span class="text-danger" th:errors="${exposant.telephone}"></span>
                    </div>

                    <i>Site Web:</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                        </div>
                        <input id="siteWeb"  class="form-control" type="text" name="siteWeb" th:value="${exposant.siteWeb}">
                        <span class="text-danger" th:errors="${exposant.siteWeb}"></span>
                    </div>

                    <i>Adresse :</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-home"></i> </span>
                        </div>
                        <input  id="adresse" class="form-control" type="text" name="adresse" th:value="${exposant.adresse}">
                        <span class="text-danger" th:errors="${exposant.adresse}"></span>
                    </div>

                    <i>Responsable Salle:</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-street-view" aria-hidden="true"></i> </span>
                        </div>
                        <input  id="responsableSalle" class="form-control" type="text" name="responsableSalle" th:value="${exposant.responsableSalle}">
                        <span class="text-danger" th:errors="${exposant.responsableSalle}"></span>
                    </div>

                    <i>Responsable :</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input  id="responsable" class="form-control" type="text" name="responsable" th:value="${exposant.responsable}">
                        <span class="text-danger" th:errors="${exposant.responsable}"></span>
                    </div>

                    <i>Specialite :</i>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-bars"></i> </span>
                        </div>
                        <input  id="specialite" class="form-control" type="text" name="specialite" th:value="${exposant.specialite}">
                        <span class="text-danger" th:errors="${exposant.specialite}"></span>
                    </div>

                    <i>Localisation :</i>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-map-marker"></i> </span>
                        </div>
                        <input  id="localisation" class="form-control" type="text" name="localisation" th:value="${exposant.localisation}">
                        <span class="text-danger" th:errors="${exposant.localisation}"></span>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <button id="saveButton" class="btn btn-outline-success" type="submit" disabled>
                            Update
                        </button>
                    </div>

                    <script>
                        // Enable the "Save" button when the "Titre" field has valid value
                        const titreInput = document.querySelector('[name="nom"]');
                        const localisationInput = document.querySelector('[name="localisation"]');
                        const saveButton = document.getElementById('saveButton');

                        // Check the input value initially and disable/enable the button accordingly
                        toggleSaveButtonState();

                        titreInput.addEventListener('input', toggleSaveButtonState);
                        localisationInput.addEventListener('input', toggleSaveButtonState);

                        function toggleSaveButtonState() {
                            if (titreInput.value.trim() !== "" && localisationInput.value.trim() !== "") {
                                saveButton.removeAttribute('disabled');
                            } else {
                                saveButton.setAttribute('disabled', 'disabled');
                            }
                        }
                    </script>

                </div>
            </form>
        </div>
    </nav>
</nav>

</body>
</html>